<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="bepinex" value="https://pkgs.dev.azure.com/bepinex/_packaging/bepinex/nuget/v3/index.json" />
    </packageSources>
</configuration>